.logo{
    height: 40px;
    width: 40px;
}
.botao{
    color: white;
    cursor: pointer;
    background-color: black;
    border: 1px solid black;
    border-radius: 1.5rem;
}

.logo-sony {
    width: 100px;
    margin: 10px;
}

.bi-search {
    font-size: 20px;
    margin: 10px;
    margin-left: 20px;
}

.botao-carrossel {
    display: flex;
    justify-content: center;
}

.botao-carrossel > div > img {
    width: 30vh;
    margin: 15px;
    border-radius: 10px;
}